body {
    background-image: url('media/background-hills-day.gif');
    background-size: cover;
    image-rendering: pixelated;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.menu {
    width: 500px;
    background-color: #FFF;
    border: 2px solid #0078D7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog-title {
    background-color: #D4E5FA;
    color: #000000;
    padding: 10px;
    font-size: 28px;
    text-align: center;
}

.blog-subtitle {
    background-color: #D4E5FA;
    color: #000000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.blog-list {
    font-size: 14px;
}

.blog-post-menu {
    width: 70%;
    background-color: #FFF;
    border: 2px solid #0078D7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.blog-image-container {
    width: 50%; /* Adjust this percentage based on your design */
    max-width: 100%; /* Prevents the container from exceeding the parent's width */
    margin: 0 auto;
    border: 2px solid #0078D7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden; /* Ensures nothing overflows */
    text-align: center; /* Center content inside the container */
    box-sizing: border-box;
    padding: 10px; /* Optional, for spacing inside the container */
}

.blog-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 5px;
    object-fit: contain; /* Ensures the entire image fits within the container */
}

.blog-image-subtext {
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .menu {
        width: 90%;
        top: 5%;
        left: 5%;
        transform: none;
    }
}

.menu-header {
    background: radial-gradient(ellipse at bottom, #469FFB 0%, #075AC4 100%);
    background-size: 200% 100%;
    background-position: center;
    color: #FFF;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    text-shadow: -1px -1px 0 #000060, 1px -1px 0 #000060, -1px 1px 0 #000060, 1px 1px 0 #000060;
    border-bottom: #000060;
    border-width: 1px;
    position: relative;
    z-index: 1;
}

.menu-content {
    display: flex;
}

.menu-column {
    width: 50%;
    border-right: 1px solid #E0E0E0;
}

.blog-column-right {
    width: 20%;
    border-right: 1px solid #E0E0E0;
}

.blog-column-left {
    width: 80%;
    border-right: 1px solid #E0E0E0;
    padding: 10px;
}

.menu-column:last-child {
    border-right: none;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background-color: #F0F0F0;
}

.menu-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.menu-text {
    display: flex;
    flex-direction: column;
}

.menu-short {
    font-weight: bold;
}

.menu-full {
    color: #666;
}

.menu-divider {
    padding: 0;
    margin: 4px 0;
}

.menu-divider::before {
    content: '';
    display: block;
    height: 2px;
    background: linear-gradient(to right, transparent, #acacac, transparent);
}

.orange-divider {
    position: absolute;
    bottom: -1px; 
    left: 0;
    right: 0;
    height: 1px; 
    z-index: 2; 
}

.orange-divider::before {
    content: '';
    display: block;
    height: 3px;
    background: linear-gradient(to right, transparent, #f89539, transparent);
    position: absolute; 
    top: 0; 
    left: 0;
    right: 0;
}

.user-icon-container {
    margin: 0;
}

.user-icon-border {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    width: 64px;
    height: 64px;
}

.menu-header .user-icon-container {
    margin-right: 10px; 
}

.menu-right {
    background-color: #D4E5FA;
}

.menu-left {
    border-right: 1px solid #0078D7;
}

#contact-menu {
    background-image: url("media/contact_icon.png");
    background-size: cover;
}

#contact-menu:hover {
    background-image: url("media/contact_icon_hover.png");
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffde; /* Tanish-yellow background */
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Tahoma, sans-serif;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it is above other elements */
}

/* for speech bubble effect */
.notification::before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 15px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #ffffde;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}

.notification::after {
    content: '';
    position: absolute;
    bottom: -12px;
    right: 14px;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: black;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -10px;
    z-index: -1;
}

.notification-title {
    font-weight: bold;
    font-size: 12px;
}

.notification-subtext {
    font-size: 12px;
}

